/*ul*/
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .pic-container{
    height: 40vh;
    flex-grow: 1;
    list-style: none;
  }
  
  .my-image {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .container{

  }