.navbar{
    background-color:#388087;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-right: 55px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    width: 100%;
}

/*ul*/
.nav-links {
    display: flex;
}

/*li elements*/
.nav-link-item {
    list-style: none;
    padding: 2rem;
}

/*link text*/
.nav-link-text {
    text-decoration: none;
    color: #F6F6F2;
    font-size: 1.5em;
    position: relative;
}

.nav-link-text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
